// operations: add, subtract, multiply, divide

// Type: {Map}
// Key: {String} calc expression
// Value: {List} value
// add, subtract, multiply and divide add resulting values to this map with the corresponding strings of
// calc expression they are returning as a key. Whenever one of these functions encounters a string as an
// argument they fetch the corresponding value from this map to proceed with further calculations.
$temp: ();

@function add($a, $b){
  @return operation($a, $b, '+');
}

@function subtract($a, $b) {
  @return operation($a, $b, '-');
}

@function multiply($a, $b){
  @return operation($a, $b, '*');
}

@function divide($a, $b){
  @return operation($a, $b, '/');
}

@function operation($a, $b, $operation) {
  $a: get-value($a);
  $b: get-value($b);
  $result: call-operation($operation, $a, $b);
  $expression: to-expression($result);
  @if is-string($expression) { $temp: map-merge($temp, ($expression: $result)) !global; }
  @return $expression;
}

@function get-value($a) {
  @if is-number($a) { @return value($a); }
  @else { @return map-get($temp, $a); }
}
