.multiply {
  /*
  non-number
  ////////////////////////
  content: "bool is an invalid factor";
  content: "bool is an invalid factor";
  content: "bool is an invalid factor";
  content: "list is an invalid factor";
  content: "list is an invalid factor";
  */
  content: "bool is an invalid factor";
  content: "bool is an invalid factor";
  content: "bool is an invalid factor";
  content: "list is an invalid factor";
  content: "list is an invalid factor";
  /*
  string arguments
  ////////////////////////
  content: calc(1.5em * var(--foo));
  content: calc(var(--foo) * 1.5em);
  content: calc(var(--foo) * 2);
  content: calc(1.5em * calc(100% - 10px));
  content: calc((100% - 10px) * 1.5em);
  content: calc((100% - 10px) * 2);
  */
  content: calc(1.5em * var(--foo));
  content: calc(var(--foo) * 1.5em);
  content: calc(var(--foo) * 2);
  content: calc(1.5em * calc(100% - 10px));
  content: calc((100% - 10px) * 1.5em);
  content: calc((100% - 10px) * 2);
  /*
  negative numbers
  ////////////////////////
  content: calc(var(--bar) * -2);
  content: -3em;
  content: -2em;
  content: calc(var(--bar) * 2);
  */
  content: calc(var(--bar) * -2);
  content: -3em;
  content: -2em;
  content: calc(var(--bar) * 2);
  /*
  bad factors
  ////////////////////////
  content: "list is an invalid factor";
  content: "null is an invalid factor";
  content: "null is an invalid factor";
  */
  content: "list is an invalid factor";
  content: "null is an invalid factor";
  content: "null is an invalid factor";
  /*
  unit vs unitless zero
  ////////////////////////
  content: 0%;
  content: 0%;
  */
  content: 0%;
  content: 0%;
}
