.debug {
  num: false;
  num: false;
  num: list;
  num: 12;
  num: 11;
  num: 13;
  num: 12;
  num: 15 15;
  pre: 5em;
  pre: 5em;
  pre: (1em + 3%);
  pre: 1em + 3%;
  pre: (1em + 3%);
  pre: (string);
  pre: (string);
  pre: (1em + 1vw); }
