.decalc {
  /*
  bad arguments
  */
  content: hello world;
  content: null;
  content: true;
  content: 'ERROR: decalc($value): $value ["calc(malformed"] seems to be malformed';
  content: 'ERROR: decalc($value): $value ["calcmalformed)"] seems to be malformed';
  /*
  string arguments
  */
  content: hello world;
  content: calculate;
  content: calc;
  content: (some-expression);
  content: var(--foobar);
  content: var(--foobar);
}