.divide {
  /*
  non-number
  ////////////////////////
  content: "ERROR: divide($expr, $n): $n [false] is not a valid divisor";
  content: "ERROR: divide($expr, $n): $expr [false] is not a valid dividend";
  content: "ERROR: divide($expr, $n): $n [1.5em] is not a valid divisor";
  content: "ERROR: divide($expr, $n): $n [1em 3] is not a valid divisor";
  content: "ERROR: divide($expr, $n): $n [1.5em] is not a valid divisor";
  */
  content: "ERROR: divide($expr, $n): $n [false] is not a valid divisor";
  content: "ERROR: divide($expr, $n): $expr [false] is not a valid dividend";
  content: "ERROR: divide($expr, $n): $n [1.5em] is not a valid divisor";
  content: "ERROR: divide($expr, $n): $n [1em 3] is not a valid divisor";
  content: "ERROR: divide($expr, $n): $n [1.5em] is not a valid divisor";
  /*
  string arguments
  ////////////////////////
  content: calc(1.5em / var(--foo));
  content: "ERROR: divide($expr, $n): $n [1.5em] is not a valid divisor";
  content: calc(var(--foo) / 2);
  content: calc(1.5em / calc(100% - 10px));
  content: "ERROR: divide($expr, $n): $n [0] is not a valid divisor";
  content: calc((100% - 10px) / 2);
  */
  content: calc(1.5em / var(--foo));
  content: "ERROR: divide($expr, $n): $n [1.5em] is not a valid divisor";
  content: calc(var(--foo) / 2);
  content: calc(1.5em / calc(100% - 10px));
  content: "ERROR: divide($expr, $n): $n [0] is not a valid divisor";
  content: calc((100% - 10px) / 2);
  /*
  negative numbers
  ////////////////////////
  content: calc(var(--bar) / -2);
  content: -0.75em;
  content: -0.5em;
  content: calc(var(--bar) / 2);
  */
  content: calc(var(--bar) / -2);
  content: -0.75em;
  content: -0.5em;
  content: calc(var(--bar) / 2);
  /*
  bad divisors
  ////////////////////////
  content: "ERROR: divide($expr, $n): $n [0] is not a valid divisor";
  content: "ERROR: divide($expr, $n): $n [a b] is not a valid divisor";
  content: "ERROR: divide($expr, $n): $n [null] is not a valid divisor";
  */
  content: "ERROR: divide($expr, $n): $n [0] is not a valid divisor";
  content: "ERROR: divide($expr, $n): $n [a b] is not a valid divisor";
  content: "ERROR: divide($expr, $n): $n [null] is not a valid divisor";
  /*
  unit vs unitless zero
  ////////////////////////
  content: 0%;
  content: 0%;
  */
  content: 0%;
  content: 0%;
}