.subtract {
  /*
  invalid args
  ////////////////////////
  content: "bool is an invalid operand";
  content: "bool is an invalid operand";
  content: "bool is an invalid operand";
  content: "list is an invalid operand";
  content: "list is an invalid operand";
  */
  content: "ERROR: bool is an invalid operand";
  content: "ERROR: bool is an invalid operand";
  content: "ERROR: bool is an invalid operand";
  content: "ERROR: list is an invalid operand";
  content: "ERROR: list is an invalid operand";
  /*
  string arguments: calc() or var()
  ////////////////////////
  content: calc(1.5em - var(--foo));
  content: calc(var(--foo) - 1.5em);
  content: calc(1.5em - (100% - 10px));
  content: calc((100% - 10px) - 1.5em);
  */
  content: calc(1.5em - var(--foo));
  content: calc(var(--foo) - 1.5em);
  content: calc(1.5em - (100% - 10px));
  content: calc((100% - 10px) - 1.5em);
  /*
  negative number
  ////////////////////////
  content: 2.5em;
  content: calc(1.5em + 1rem);
  content: -2.5em;
  content: calc(-1rem - 1.5em);
  */
  content: 2.5em;
  content: calc(1.5em + 1rem);
  content: -2.5em;
  content: calc(-1rem - 1.5em);
  /*
  unitless number
  ////////////////////////
  content: -1;
  content: 2.5em;
  content: -2.5em;
  */
  content: -1;
  content: 2.5em;
  content: -2.5em;
  /*
  matched units
  ////////////////////////
  content: 0.5em;
  content: -0.5em;
  */
  content: 0.5em;
  content: -0.5em;
  /*
  mixed units
  ////////////////////////
  content: calc(1.5em - 1rem);
  content: calc(1rem - 1.5em);
  */
  content: calc(1.5em - 1rem);
  content: calc(1rem - 1.5em);
  /*
  unitless zero
  ////////////////////////
  content: -2em;
  content: 2em;
  */
  content: -2em;
  content: 2em;
  /*
  unit zero
  ////////////////////////
  content: calc(0px - 2em);
  content: 2em;
  */
  content: calc(0px - 2em);
  content: 2em;
}
