@import 'deps';

//            _     _
//           | |   | |
//   __ _  __| | __| |
//  / _` |/ _` |/ _` |
// | (_| | (_| | (_| |
//  \__,_|\__,_|\__,_|


$throw-catch: true !global;

.add {
  /*
  invalid args
  ////////////////////////
  content: "ERROR: add($expr1, $expr2): $expr2 [false] is not a valid addend";
  content: "ERROR: add($expr1, $expr2): $expr1 [false] is not a valid addend";
  content: "ERROR: add($expr1, $expr2): $expr1 [false] is not a valid addend";
  content: "ERROR: add($expr1, $expr2): $expr2 [1em 3] is not a valid addend";
  content: "ERROR: add($expr1, $expr2): $expr1 [foo bar] is not a valid addend";
  */
  content: inspect(add(1.5em, false));
  content: inspect(add(false, 1.5));
  content: inspect(add(false, 1.5em));
  content: inspect(add(1.5em, (1em 3)));
  content: inspect(add((foo bar), 1.5em));
  /*
  string arguments: calc() or var()
  ////////////////////////
  content: calc(1.5em + var(--foo));
  content: calc(var(--foo) + 1.5em);
  content: calc(1.5em + (100% - 10px));
  content: calc((100% - 10px) + 1.5em);
  */
  content: inspect(add(1.5em, var(--foo)));
  content: inspect(add(var(--foo), 1.5em));
  content: inspect(add(1.5em, calc(100% - 10px)));
  content: inspect(add(calc(100% - 10px), 1.5em));
  /*
  negative number
  ////////////////////////
  content: 0.5em;
  content: calc(1.5em - 1rem);
  content: 0.5em;
  content: calc(-1rem + 1.5em);
  */
  content: inspect(add(1.5em, -1em));
  content: inspect(add(1.5em, -1rem));
  content: inspect(add(-1em, 1.5em));
  content: inspect(add(-1rem, 1.5em));
  /*
  unitless number
  ////////////////////////
  content: 5;
  content: 0.5em;
  content: 0.5em;
  */
  content: inspect(add(2,3));
  content: inspect(add(1.5em, -1));
  content: inspect(add(-1, 1.5em));
  /*
  matched units
  ////////////////////////
  content: 2.5em;
  content: 2.5em;
  */
  content: inspect(add(1.5em, 1em));
  content: inspect(add(1em, 1.5em));
  /*
  mixed units
  ////////////////////////
  content: calc(1.5em + 1rem);
  content: calc(1rem + 1.5em);
  */
  content: inspect(add(1.5em, 1rem));
  content: inspect(add(1rem, 1.5em));
  /*
  unitless zero
  ////////////////////////
  content: 2em;
  content: 2em;
  */
  content: inspect(add(0, 2em));
  content: inspect(add(2em, 0));
  /*
  unit zero
  ////////////////////////
  content: 2em;
  content: 2em;
  */
  content: inspect(add(0px, 2em));
  content: inspect(add(2em, 0px));
}
