@import 'deps';

//                  _ _   _       _
//                 | | | (_)     | |
//  _ __ ___  _   _| | |_ _ _ __ | |_   _
// | '_ ` _ \| | | | | __| | '_ \| | | | |
// | | | | | | |_| | | |_| | |_) | | |_| |
// |_| |_| |_|\__,_|_|\__|_| .__/|_|\__, |
//                         | |       __/ |
//                         |_|      |___/


$throw-catch: true !global;

.multiply {
  /*
  non-number
  ////////////////////////
  content: "ERROR: bool is an invalid factor";
  content: "ERROR: bool is an invalid factor";
  content: "ERROR: bool is an invalid factor";
  content: "ERROR: list is an invalid factor";
  content: "ERROR: list is an invalid factor";
  content: calc(hello * 1);
  content: calc(1 * hello);
  content: calc(hello * hello);
  */
  content: inspect(multiply(1.5em, false));
  content: inspect(multiply(false, 1.5));
  content: inspect(multiply(false, 1.5em));
  content: inspect(multiply(1.5em, (1em 3)));
  content: inspect(multiply((foo bar), 1.5em));
  content: inspect(multiply('hello', 1));
  content: inspect(multiply(1, 'hello'));
  content: inspect(multiply('hello', 'hello'));
  /*
  string arguments
  ////////////////////////
  content: calc(1.5em * var(--foo));
  content: calc(var(--foo) * 1.5em);
  content: calc(var(--foo) * 2);
  content: calc(2 * var(--foo));
  content: calc(1.5em * (100% - 10px));
  content: calc((100% - 10px) * 1.5em);
  content: calc((100% - 10px) * 2);
  */
  content: inspect(multiply(1.5em, var(--foo)));
  content: inspect(multiply(var(--foo), 1.5em));
  content: inspect(multiply(var(--foo), 2));
  content: inspect(multiply(2, var(--foo)));
  content: inspect(multiply(1.5em, calc(100% - 10px)));
  content: inspect(multiply(calc(100% - 10px), 1.5em));
  content: inspect(multiply(calc(100% - 10px), 2));
  /*
  negative numbers
  ////////////////////////
  content: calc(var(--bar) * -2);
  content: -3em;
  content: -2em;
  content: calc(var(--bar) * 2);
  */
  content: inspect(multiply(var(--bar), -2));
  content: inspect(multiply(1.5em, -2));
  content: inspect(multiply(-1em, 2));
  content: inspect(multiply(var(--bar), 2));
  /*
  bad factors
  ////////////////////////
  content: "list is an invalid factor";
  content: "null is an invalid factor";
  content: "null is an invalid factor";
  */
  content: inspect(multiply(1.5em, (a b)));
  content: inspect(multiply(-1, null));
  content: inspect(multiply(null, var(--baz)));
  /*
  unit vs unitless zero
  ////////////////////////
  content: 0%;
  content: 0%;
  */
  content: inspect(multiply(0px, 2));
  content: inspect(multiply(0, 2));
}
